body{
    background-color:hsl(0, 0%, 8%);
    font-size: 14px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-weight: 400;
}
img{
    border-radius: 400px;
    width: 60px;
    height: 60px;
    margin-bottom: 18px;
}
.name{
    font-size: large;
    color:hsl(0, 0%, 100%);
}
.state{
    color:hsl(75, 94%, 57%);
    font-size:10px;
    margin-top: 8px;
    padding-bottom: 8px;
}
.quote{
    font-size: 9px;
    color: white;
   margin-top: 18px;
   margin-bottom: 10px;
}
.container{
    position: static;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 70px;
    text-align: center;
}
a{
    text-decoration: none;
}
button{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    background-color:hsl(0, 2%, 34%);
    color: white;
    border-radius: 6px;
    border: transparent;
    font-size: 10px;
}
button:hover{
    color: black;
    background-color:hsl(75, 94%, 57%);
    cursor: pointer;
}

@media (max-width: 375px) {
    body {
      font-size: 14px;
    }
    .image {
      width: auto;
    }
  }
  @media (min-width: 1440px) {
    body {
      font-size: 18px;
    }
    .container {
      width: 80%; 
    }
  }
 